<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin">Blog Admin</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/admin/post">Posts</a></li>
        <li><a href="/admin/user">Users</a></li>
      </ul>
    </div>
  </nav>


  <!-- <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter">
          <label>
            Search:
            <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable">
          </label>
        </div>
      </div>
    </div> -->

    <div>
      <div class="col-md-12" style="margin-bottom: 1px; margin-top: 10px;">
        <a href="/admin/post/new" class="btn btn-success pull-right">Add new post</a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Posts
      </div>
    </div>

              <div class="row"><div class="col-sm-12"><table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 108px;">
                        ID
                      </th>
                      <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column descending" style="width: 108px;" aria-sort="ascending">
                        Tilte
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 114px;">
                        Content
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 51px;">
                         Author
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 108px;">
                        Created Time
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 98px;">
                        Updated Time
                      </th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 98px;">
                        Actions
                      </th>
                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                      <th rowspan="1" colspan="1">
                        Name
                      </th>
                      <th rowspan="1" colspan="1"
                      >Position
                    </th>
                      <th rowspan="1" colspan="1">
                        Office
                      </th>
                        <th rowspan="1" colspan="1">
                          Age
                        </th>
                        <th rowspan="1" colspan="1">
                          Start date
                        </th>
                        <th rowspan="1" colspan="1">
                          Salary
                        </th>
                      </tr>
                </tfoot> -->
                <tbody>
                  <% if (data && data.posts) {%>
                    <% for(var i = 0; i < data.posts.length; i++) {%>
                      <tr>
                        <td><%= data.posts[i].id %></td>
                        <td><%= data.posts[i].title %></td>
                        <td><%= data.posts[i].content %></td>
                        <td><%= data.posts[i].author %></td>
                        <td><%= data.posts[i].created_at %></td>
                        <td><%= data.posts[i].updated_at %></td>
                        <td>
                          <a href="/admin/post/edit/<%= data.posts[i].id%>" class="btn btn-primary"> Edit ></a>
                          <button class="btn btn-danger post_delete" post_id="<%= data.posts[i].id%>">
                            Delete 
                          </button>
                        </td>
                      </tr>
                    <%}%>
                  <%}%>
                </tbody>
              </table>
            </div>
        </div>
      
        <!-- <div class="row">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
              Showing 1 to 10 of 57 entries
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
              <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                  <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">
                    Previous
                  </a>
                </li>
                <li class="paginate_button page-item active">
                  <a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">
                  1
                  </a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">
                    2
                  </a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">
                    3
                  </a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">
                    4
                  </a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">
                    5
                  </a>
                </li>
                <li class="paginate_button page-item ">
                  <a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">
                    6
                  </a>
                </li>
                <li class="paginate_button page-item next" id="dataTable_next">
                  <a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">
                  Next
                  </a>
                </li> 
              </ul>
            </div>
          </div> 
        </div> -->
      </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/post.js"></script>
</body>
</html>